<div class="row d-flex justify-content-center align-items-center h-100">
    <div [style.width.px]="570">
        <div class="card rounded-3">
            <div class="card-body p-4">
                <todos
                    [todos]="(todos$ | async)!"
                    [todosTotal]="(todosTotal$ | async)!"
                    [completedTodosTotal]="(completedTodosTotal$ | async)!"
                    [currentTodo]="(currentTodo$ | async)!"
                    (todoChecked)="markAsCompleted($event)"
                    (todoCreated)="create($event)"
                    (todoDeleted)="delete($event)"
                    (todoSelected)="select($event)"
                    (todoUnchecked)="markAsNotCompleted($event)"
                    (todoUpdated)="update($event)"
                    (markAllAsCompleted)="markAllAsCompleted()"
                    (markAllAsNotCompleted)="markAllAsNotCompleted()"
                ></todos>
            </div>
        </div>
    </div>
</div>