<form [formGroup]="form" (ngSubmit)="handleFormSubmit()" data-testId="todo-form" [@openClose]="selected ? 'open' : 'closed'">
  <div class="form-check w-100">
    <div class="d-flex justify-content-between">
      <div class="w-100">
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="todo.completed"
          (change)="handleCheckboxChanged($event)"
          data-testId="todo-checkbox"
        >
        <input type="text" #titleInput class="todo__input todo__title" formControlName="title" [hidden]="!selected" autofocus data-testId="todo-title-input">
        <label
          *ngIf="!selected"
          class="form-check-label user-select-none"
          (dblclick)="handleDoubleClick()"
          data-testId="todo-title"
        >{{ todo.title }}</label>
      </div>
      <button
        title="Remove"
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="handleDeleteClick()"
        data-testId="todo-delete-button"
      ></button>
    </div>
  </div>

  <div
    class="todo__selected-actions"
    *ngIf="selected"
    data-testId="todo-actions"
  >
    <textarea
      placeholder="Notes"
      formControlName="note"
      class="todo__note todo__input my-2"
      data-testId="todo-note"
    ></textarea>
  </div>
</form>