<ul
    class="list-group mb-1"
    data-testId="doable-list-drop"
    cdkDropList
>
    <li
        doableItem
        cdkDrag
        *ngFor="let todo of todos | order"
        class="todo list-group-item"
        [selected]="currentTodo?.id === todo.id"
        [todo]="todo"
        (cancelled)="handleTodoCancelled($event)"
        (checked)="handleTodoChecked(todo)"
        (deleteClicked)="handleTodoDelete(todo)"
        (doubleClicked)="handleTodoSelection(todo)"
        (saved)="handleTodoUpdated($event)"
        (unchecked)="handleTodoUnchecked(todo)"
    >
    </li>
</ul>