<div class="todos">
    <form
        class="pb-2"
        [formGroup]="form"
        (ngSubmit)="handleFormSubmit()"
    >
        <div class="d-flex flex-row align-items-center">
            <div class="input-group">
                <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    id="todo-actions-dropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Actions
                </button>
                <ul
                    class="dropdown-menu"
                    aria-labelledby="todo-actions-dropdown"
                >
                    <li><a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            (click)="handleMarkAllAsCompleted()"
                        >Mark all as completed</a></li>
                    <li><a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            (click)="handleMarkAllAsNotCompleted()"
                        >Mark all as not completed</a></li>
                    <li><a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            (click)="handleClearClicked()"
                        >Clear</a></li>
                </ul>
                <input
                    type="text"
                    class="form-control mr-2"
                    placeholder="Create todo"
                    formControlName="title"
                >
            </div>
            <button
                type="button"
                class="btn btn-primary ms-2"
            >Add</button>
        </div>
    </form>

    <ul class="list-group mb-1">
        <li
            doableItem
            *ngFor="let todo of todos | order"
            class="todo list-group-item"
            [ngClass]="{'todo--completed': todo.completed}"
            [selected]="currentTodo?.id === todo.id"
            [todo]="todo"
            (cancelled)="handleTodoCancelled($event)"
            (checked)="handleTodoChecked(todo)"
            (deleteClicked)="handleTodoDelete(todo)"
            (doubleClicked)="handleTodoSelection(todo)"
            (saved)="handleTodoUpdated($event)"
            (unchecked)="handleTodoUnchecked(todo)"
        ></li>
    </ul>
</div>